*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

/gradleBuild
/assets